<div class="form">
  <%= render 'shared/error_messages' %>
  <ul>
  <%= form_for :session, :url => {:action => :create}  do |f| %>
    <li>
      <%= f.label :user_id, 'User ID'%>
      <%= f.text_field :user_id %><br />
    </li>
    <li>
      <%= f.label :password %>
      <%= f.password_field :password %><br />
    </li>
    <li>
      <%= f.submit 'login', class: :btn %>
    </li>
    <li>
      <%= link_to 'create user', {controller: :users , action: :new} , class: :btn%>
    </li>
  <% end %>
  </ul>
</div>