<!DOCTYPE html>
<html>
  <head>
    <title>SimpleKanbanApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <p class="logo"> <%= link_to 'SimpleKanbanApp', top_path() %><p>
    <% if signed_in? %>
      <p class="new-ticket"><%= link_to 'create ticket', {controller: :tickets, action: :new} %></p>
      <p class="logout"><%= link_to 'logout', {controller: :sessions, action: :destroy}, {method: :delete, data: {confirm: 'ログアウトしますか？'}} %></p> 
    <% end %>
  </header>
  <div class="header-heightfix"></div>
    <%= yield %>
  
  <footer>
  
  </footer>
  </body>
</html>
